# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyTorch
*.pth
*.pt
checkpoints/
logs/
#results/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
venv/
ENV/
env/
Thesis/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dataset (don't push large datasets)
Dataset/
*.tif
*.tiff
datasets/

# Temporary files
*.log
*.tmp